<template>
    <div class="container">
            <input type="text" v-model="val" v-if="editorMode" @blur="withoutSave" @keyup.13="save" @keyup.27="withoutSave" ref="inputsaver">
            <div :ref="'inputSaverErrorShow'" v-if="!editorMode" @click="beginEdit" data-toggle="tooltip" title="">{{val}}</div>
    </div>
</template>

<script>
    import { EventBus } from '../event.js';
    export default {
        props: {
            value: {required: true},
            url: {default: ''},
            id: {default: 0},
            field: {default: 'name'},
            serverStatusErr: {default: 201}
        },
        data () {
            return {
                editorMode:false,
                val:"test",
                firstVal:"",
                updated:false,
                error:"",
                uid:0
            }
        },
        mounted () {
            this.val=this.value
            this.firstVal=this.value
            this.uid=this._uid
            EventBus.$on('inputsaverError'+this._uid, data => {
                this.val=this.firstVal
                this.showError (data)
            })
        },
        methods: {
            showError (data) {
                $(this.$refs.inputSaverErrorShow)
                    .tooltip('hide')
                    .attr('data-original-title', data)
                    .tooltip('show');
                setTimeout(()=>{
                        this.hideError();
                    },5000)

            },
            hideError () {
                $(this.$refs.inputSaverErrorShow)
                    .tooltip('hide')
                    .attr('data-original-title', "");
            },
            beginEdit () {
                this.editorMode=true
                this.$nextTick(() => this.$refs.inputsaver.focus())
                this.error=""
                this.hideError()
            },
            save () {
                this.editorMode=false
                this.updated=true
                this.save2server()
            },
            withoutSave () {
                if(!this.updated)
                    this.val=this.firstVal
                this.editorMode=false
            },
            save2server () {
                if(!this.url)
                    return true;
                var serverData={'id':this.id};
                serverData[this.field]=this.val
                axios.post(this.url, serverData)
                .then(response => {
                  if(this.serverStatusErr==response.status)
                  {
                    EventBus.$emit('inputsaverError'+this._uid,response.data);
                    this.error=response.data;
                    return false;
                  }
                }).catch(error => {
                  EventBus.$emit('inputsaverError'+this._uid,'Error occured on server-side. Please try again.'+error.message);
                  this.error=error.message;
                  return false;
                });
                return true;
            }
        }
    }
</script>
